
    <div class="general-footer" fxLayout="row">
      <div fxFlex >
        <button mat-button>
        &copy; Designed By,
        </button>

      </div>

      <div fxFlex>

          <button mat-button>
              &copy; Monitoring And Evaluation Tool
          </button>

      </div>


      <div fxFlex   >
          <button mat-button>
              <mat-icon aria-hidden="false" aria-label="{2:label} icon">phone</mat-icon>
              <span>+256 417 712260</span>
          </button>
      </div>
  </div>
