
<div class="container" >
  <mat-sidenav-container>
      <mat-sidenav mode="side" opened="true">
          <mat-accordion>

              <mat-expansion-panel class="project my-project-items">
                <mat-expansion-panel-header class="sidebar-feel">
                    <mat-panel-title>
                        <span style="padding-left: 10px;"><b>Projects</b></span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                      Project Wetu
                    </a>
                </mat-nav-list>

                <mat-nav-list>
                  <a class="sidebar-sub-items" mat-list-item routerLink="task-management">
                    Project Wetu
                  </a>
              </mat-nav-list>

              <mat-nav-list>
                <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                  Project Wetu
                </a>
            </mat-nav-list>

            <mat-nav-list>
              <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                Project Wetu
              </a>
          </mat-nav-list>
            </mat-expansion-panel>



            <mat-expansion-panel class="project my-project-items">
              <mat-expansion-panel-header class="sidebar-feel">
                  <mat-panel-title>
                      <span style="padding-left: 10px;"><b>Projects</b></span>
                  </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-nav-list>
                  <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                    Project Wetu
                  </a>
              </mat-nav-list>

              <mat-nav-list>
                <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                  Project Wetu
                </a>
            </mat-nav-list>

            <mat-nav-list>
              <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                Project Wetu
              </a>
          </mat-nav-list>

          <mat-nav-list>
            <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
              Project Wetu
            </a>
        </mat-nav-list>
          </mat-expansion-panel>



          <mat-expansion-panel class="project my-project-items">
            <mat-expansion-panel-header class="sidebar-feel">
                <mat-panel-title>
                    <span style="padding-left: 10px;"><b>Projects</b></span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list>
                <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                  Project Wetu
                </a>
            </mat-nav-list>

            <mat-nav-list>
              <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                Project Wetu
              </a>
          </mat-nav-list>

          <mat-nav-list>
            <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
              Project Wetu
            </a>
        </mat-nav-list>

        <mat-nav-list>
          <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
            Project Wetu
          </a>
      </mat-nav-list>
        </mat-expansion-panel>


        <mat-expansion-panel class="project my-project-items">
          <mat-expansion-panel-header class="sidebar-feel">
              <mat-panel-title>
                  <span style="padding-left: 10px;"><b>Projects</b></span>
              </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list>
              <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
                Project Wetu
              </a>
          </mat-nav-list>

          <mat-nav-list>
            <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
              Project Wetu
            </a>
        </mat-nav-list>

        <mat-nav-list>
          <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
            Project Wetu
          </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
          Project Wetu
        </a>
    </mat-nav-list>
      </mat-expansion-panel>


      <mat-expansion-panel class="project my-project-items">
        <mat-expansion-panel-header class="sidebar-feel">
            <mat-panel-title>
                <span style="padding-left: 10px;"><b>Projects</b></span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
              Project Wetu
            </a>
        </mat-nav-list>

        <mat-nav-list>
          <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
            Project Wetu
          </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
          Project Wetu
        </a>
    </mat-nav-list>

    <mat-nav-list>
      <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
        Project Wetu
      </a>
  </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel class="project my-project-items">
      <mat-expansion-panel-header class="sidebar-feel">
          <mat-panel-title>
              <span style="padding-left: 10px;"><b>Projects</b></span>
          </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
          <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
            Project Wetu
          </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
          Project Wetu
        </a>
    </mat-nav-list>

    <mat-nav-list>
      <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
        Project Wetu
      </a>
  </mat-nav-list>

  <mat-nav-list>
    <a class="sidebar-sub-items" mat-list-item routerLink="dashboard">
      Project Wetu
    </a>
</mat-nav-list>
  </mat-expansion-panel>


          </mat-accordion>
      </mat-sidenav>

      <mat-sidenav-content>
          <div>
           <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>

  </mat-sidenav-container>

</div>
