
    <mat-card style=" margin: auto; width:  max-content; overflow-y: hidden; border-radius: 2px solid red; ">
      <form>
          <p>Sign In to Continue</p>

          <div fxLayout="row">
              <div fxFlex>
                  <mat-form-field appearance="outline" fxFlex>
                      <mat-label>Enter your email</mat-label>
                      <input matInput autofocus formControlName="email">
                      <mat-icon matSuffix>mail</mat-icon>
                  </mat-form-field>
              </div>

              <div fxFlex>
                  <mat-form-field appearance="outline" fxFlex>
                      <mat-label>Enter your password</mat-label>
                      <input matInput formControlName="password">
                      <mat-icon matSuffix>lock</mat-icon>
                  </mat-form-field>
              </div>
          </div>


          <div fxLayout="row">
              <div fxFlex>
                  <p>Don't Have an account ? <a>Create</a>
                  </p>
              </div>

              <div fxFlex>
                  <button mat-raised-button type="submit" routerLink="../../management" color="primary">Login </button>
              </div>
          </div>

      </form>
  </mat-card>
